{% extends 'layouts/base.html' %}

{% block title %} Auditória dos Encurtadores{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">Auditória dos Encurtadores</h3>
            </div>
        </div>
    </div>
    {% for link in links %}
    <div class="card-body">
        <p><a href="{% url 'audit_token' token=link.token%}">{{link}}</a></p>
    </div>
    {% endfor %}
</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
