{% extends 'layouts/base.html' %}

{% block title %} Auditória de Encurtadores {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">Auditória do Encurtador {{link.token}}</h3>
            </div>
        </div>
    </div>
    {% if audits.count > 0%}
        {% for audit in audits %}
    <div class="card-body">
        <p>{{audit}}</p>
    </div>
        {% endfor%}
    {% else%}
    <div class="card-body">
        <p>O Encutador não foi utilizado ainda.</p>
    </div>
    {% endif %}
</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
