{% extends 'layouts/base.html' %}

{% block title %} Encurtador de Links {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">Encurtador de Links</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form action="valida_link" method="POST">
            {% csrf_token %}
            <table>
            {{form.as_table}}
            </table>
            {%  if status == 99 %}
            <p style="color: green;">Token Registrado com sucesso.</p>
            {%elif status == 1 %}
            <p style="color: red;">Este Token já foi cadastrado, escolha outro!</p>
            {% endif %}
            <input type='submit' />
        </form>
    </div>
</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
