{% extends 'layouts/base.html' %}

{% block title %} Encurtador Inexistente{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">Encurtador Inexistente</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>Encurtador "{{token}}" inexistente!</p>
    </div>
</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
